@model IEnumerable<Inkopslista.Models.Product>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inköpslista</h2>

<h4>@Html.ActionLink("Lägg till produkt", "New", "Foods", null, new { @class = "btn btn-primary"})</h4>

@if (!Model.Any())
{
    <p>No products in the list yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Vara:</th>
                <th>Pris:</th>
                <th>Ändra:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.ActionLink(product.Food.Name, "Details", "Foods", new { id = product.Id }, null)</td>
                    <td>@product.Price kr</td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot>
        <tr>
            <td>Total kostnad: </td>
            <td>@Model.Sum(i => i.Price) kr</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
}