@model IEnumerable<Inkopslista.Models.Member>

@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

<h4>@Html.ActionLink("Ny medlem", "New", "Members", null, new { @class = "btn btn-primary"})</h4>

<table id="members" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Medlem:</th>
        <th>Medlemstyp:</th>
        <th>Ändra:</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            table = $("#members").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Swedish.json"
                },
                ajax: {
                    url: "/api/members/Get/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, member) {
                            return "<a href='/members/edit/" + member.id + "'>" + member.name + "</a>";
                        }
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data) {

                            return "<input id='hiddenid' type='hidden' value='" +
                                data +
                                "'>" +
                                "<a href='#!' class='js-edit' " +
                                "data-member-id=" +
                                data +
                                ">" +
                                "<img src = '../../Icons/edit.svg' / " +
                                "width='15' height='15' style='vertical-align:top'>" +
                                "<img src = '../../Icons/save.svg' / " +
                                "width='15' height='15' style='vertical-align:top;display: none'></a> " +
                                "<a href='#!    ' class='js-delete' " +
                                "data-member-id=" +
                                data +
                                ">" +
                                "<img src = '../../Icons/delete.svg' / " +
                                "width='15' height='15' style='vertical-align:top'></button>";
                        }
                    }
                ]
            });

            $("#members").on("click", ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Är du säker att du vill ta bort denna medlem?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/members/Delete/" + button.attr("data-member-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}